.App {

}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  padding: 20px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}
form .title_form {
  width: 100%;
  text-align: center;
}
.App-label{  
  font-size: 18px;
}
.form-control::placeholder{
  font-size: 14px;
}
.form-check{
  display: flex!important;
}
.form-check-input{
  margin-right: 20px;
}
form #submit {
  border: none;
  background-color: white;
  border: 1px solid gray;
  color: black;
  min-width: 50%;
  height: 40px;
  font-size: 18px;
  margin-left: auto;
  margin-right: auto;
  transition: all 0.5s ease;
}
form #submit:hover {
  transform: scale(1.03);
}
